
body
{ 
    width: 400px;
    height: 500px;
    *background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px; 
    color:#000;
    margin: 0; 
    padding: 0;
    *background-color: aqua;
    opacity: 1;
    
      
    
    
}
  



@media (min-width: 900px)
{
    body
{ 
    width: 900px;
    height: 600px;
    *background-color: gold;
       
    
    opacity: 1;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px; 
    color:#000;
    margin: 0; 
    padding: 0;
}
         
}


  #frutas
{ 
    width: 400px;
    height: 500px;
    *background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px; 
    color:#000;
    margin: 0; 
    padding: 0;
    *background-color: aqua;
    opacity: 1;
    
      
    
    
}
  


body
    {
    
    background: rgb(240,22,76);
    background: linear-gradient(0deg, rgba(240,22,76,0.8482213117074275) 0%, rgba(253,187,45,1) 100%);
    color: white;
    
    }





@media (min-width: 900px)
{
    
   
body
    {
    
    background: rgb(240,22,76);
    background: linear-gradient(0deg, rgba(240,22,76,0.8482213117074275) 0%, rgba(253,187,45,1) 100%);
    color: white;
       
    
    }
    
}




p
    {
    
    
        color: white;
        font-size: 10px;
       
    
    }
    


@media (min-width: 900px)
{
    
   p
    {
    
    
        color: white;
        font-size: 35px;
       
    
    }
    
}

 h3
{
    color: red;
    font-size: 28px;
}




@media (min-width: 900px)
{
    h3
{
    color: red;
    font-size: 68px;
}

}



 h6
{
    color: aliceblue;
    font-size: 28px;
}


y

@media (min-width: 900px)
{
    h6
{
    color: aliceblue;
    font-size: 68px;
}

}


 button
{
    color: yellowgreen;
    font-size: 28px;
}




@media (min-width: 900px)
{
    button
{
    color: yellowgreen;
    font-size: 68px;
}

}




#foot
{
    width: 400px;
    height:600px;
    margin: auto;
    margin-top: 0px;
   background-color: cornflowerblue;
    border: 2px solid none;
    border-radius: 10px;
    color: snow;
    list-style: none;
    display: block;
    text-align: middle;
    list-style: none;
    
    vertical-align: 50px;
    *overflow: scroll;
    
}


@media (min-width: 900px) 
{
  #foot
    {
    width: 1000px;
    height:1050px;
    margin: auto;
    margin-top: 1px;    
    
    border: 2px solid none;
    border-radius: 10px;
    
    list-style: none;
    display: block;
    text-align: middle;
    list-style: none;
    
    
    
   *overflow: scroll;
    
    }
   }





.blanca
{
    color: aliceblue;
}



@media (min-width: 900px)
{
    
.blanca
{
    color: aliceblue;
        font-size: 95px;
}
    
}





